<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  Cookies: {{info}}

  <br/>
  SecureContext: {{secure}}
  <br/><br/>

  <ion-button (click)="clear()">Clear Cookies</ion-button>
  <ion-button (click)="load()">Load Script</ion-button>
  <ion-button (click)="get()">Get Cookies</ion-button>
</ion-content>
